.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: "Open Sans", helvetica, sans-serif;
}
#dropDownList {
  display: none;
}
#toggle {
  background-color: #fa8585;
  padding: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer; 
}

ul {
  margin:0;
  padding: 0;
  list-style-type:none;
}
li {
  margin:0;
  padding: 10px;
  border: 1px solid black;
}
img {
  width: 18px;
}
